*, body, html {
    padding: 0;
    margin: 0;
}

.responsiveContainer {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 10px;
}

nav {
    position: sticky;
    top: 0;
    padding-top: 25px;
    height: 0px;
}

.navTitle {
    padding-bottom: 10px; 
    font-weight: bold; 
    font-size: 20px;
}

#navList {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

nav ul li {
    padding: 8px 20px;
}

#hamburgerMenu {
    display: none;
    position: relative;
}

#bar1, #bar2, #bar3 {
    width: 30px;
    height: 5px;
    background-color: black;
    display: block;
    margin: 3px;
}

/* Main page, including the article and the socials */

/* setting the article length */
main {
    display: flex;
    margin-top: 50px;
}

header {
    margin-bottom: 50px;
}

#pageTitle {
    font-size: 2.5em;
}

article {
    width: clamp(500px, 80%, 1000px)
}

article p, article hr {
    margin-bottom: 15px;
}

.socialList {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.socials {
    display: block;
    position: sticky;
    top: 0;
    height: 25px;
    margin-top: 125px;
    padding-top: 25px;
}

.socalItem {
    margin: 10px;
    font-size: 2em;
    color: var(--black);
}

@media only screen and (max-width: 750px) {
    .responsiveContainer {
        grid-template-columns: 1fr;
    }
    nav {
        height: auto;
        display: flex;
        justify-content: end;
        margin: 10px;
    }
    nav.active {
        background-color: var(--backgroundColor);
        margin: 0;
        padding: 0;
    }
    /* making the list hidden by default, it repears when the hamburger menu is clicked */
    #navList {
        display: none;
    }
    #navList.active {
        display: block;
        color: var(--highlightText);
        padding: 10px;
    }
    nav ul li {
        display: inline;
        padding: 10px;
    }

    /* hamburger Menu */
    #hamburgerMenu {
        display: block;
    }
    #hamburgerMenu.active {
        margin-top: 15px;
    }
    /* three bars in the hamburger menu */
    #bar1.active1 {
        transform:rotate(45deg);
        background-color: var(--highlightText);
    }

    #bar2.active2 {
        display: none;
    }

    #bar3.active3 {
        transform:rotate(135deg);
        position: relative;
        top: -9px;
        background-color: var(--highlightText);
    }

    article {
        text-align: center;
        margin: 15px;
    }

    main {
        margin-top: 0px;
        margin-right: 2em;
    }

    .socials {
        position: fixed;
        bottom: 0;
        right: 0;
    }
  }