*, html, body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--backgroundColor);
    color: var(--pageText);
    font-family: Arial, Helvetica, sans-serif;
}

.secondaryHighlight {
    color: var(--secondaryHighlight);
}

.greyText {
    color: grey;
}

.responsiveContainer {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 10px;
}

nav {
    position: sticky;
    top: 0;
    padding-top: 25px;
    height: 0px;
}

.navTitle {
    padding-bottom: 10px; 
    font-weight: bold; 
    font-size: 20px;
    color: var(--mainHighlight);
    text-decoration: underline;
}

#navList {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

nav ul li {
    padding: 8px 20px;
}

nav ul li a {
    color: var(--secondaryHighlight);
    text-decoration: none;
}

#hamburgerMenu {
    display: none;
    position: relative;
}

#bar1, #bar2, #bar3 {
    width: 30px;
    height: 5px;
    background-color: var(--pageText);
    display: block;
    margin: 3px;
}

/* Main page, including the article and the socials */

/* setting the article length */
main {
    display: flex;
    margin-top: 50px;
}

header {
    margin-bottom: 50px;
}

#pageTitle {
    font-size: 3em;
    background-image: linear-gradient(90deg, var(--mainHighlight), var(--secondaryHighlight));
    -webkit-background-clip: text;
    color: transparent;
}

/* article */
.authorTitle {
    margin: 25px 0px;
}

.sectionTitle {
    color: var(--secondaryHighlight);
}

article {
    width: clamp(500px, 80%, 1000px)
}

article p, article hr {
    margin-bottom: 15px;
}

article h1, article h2 {
    font-size: 2.5em;
}

article h3, article h4 {
    font-size: 1.8em;
}

article p {
    font-size: 1.1em;
}

article ul{
    padding-left: 40px;
    padding-bottom: 15px;
}

/* images */
article img, article iframe {
    display: block;
    width: 60%;
    margin: auto;
    max-width: 500px;
    max-height: 300px;
    padding: 10px 0px;
}

.doubleImages {
    display: flex;
    gap: 10px;
}

.doubleImages img, .doubleImages iframe {
    max-width: 480px;
    max-height: 300px;
}

#heroImage {
    width: 100%;
    height: 100%;
    max-width: max-content;
    max-height: max-content;
}

/* social links */
.socialList {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.socialList li {
    background-color: var(--socialBackground);
    margin-top: 2px;
}

.socials {
    display: block;
    position: sticky;
    top: 0;
    height: 25px;
    margin-top: 125px;
    padding-top: 25px;
}

.socalItem {
    margin: 10px;
    font-size: 2em;
    color: var(--socialIconColor);
}

/* footer */
footer {
    padding: 2em 4em 2em 2em;
    margin-top: 2em;
    background-color: var(--navBackgroundColor);
}

footer h1 {
    text-align: center;
    color: var(--mainHighlight);
}

.referencesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.references {
    text-indent: -36px;
    padding-left: 36px;
    margin: 10px;
    color: var(--secondaryHighlight);
}

@media only screen and (max-width: 750px) {
    html{
        scroll-padding-top:100px;
    }

    .responsiveContainer {
        grid-template-columns: 1fr;
    }
    nav {
        height: auto;
        display: flex;
        justify-content: end;
        margin: 10px;
    }
    nav.active {
        background-color: var(--navBackgroundColor);
        margin: 0;
        padding: 0;
    }
    /* making the list hidden by default, it repears when the hamburger menu is clicked */
    #navList {
        display: none;
    }
    #navList.active {
        display: flex;
        padding: 10px;
    }
    nav ul li {
        display: inline;
        padding: 10px;
    }

    nav ul li a {
        color: var(--darkNavText);
    }

    /* hamburger Menu */
    #hamburgerMenu {
        display: block;
    }
    #hamburgerMenu.active {
        margin-top: 30px;
    }
    /* three bars in the hamburger menu */
    #bar1.active1 {
        transform:rotate(45deg);
        background-color: var(--darkNavText);
    }

    #bar2.active2 {
        display: none;
    }

    #bar3.active3 {
        transform:rotate(135deg);
        position: relative;
        top: -9px;
        background-color: var(--darkNavText);
    }

    article {
        text-align: center;
        margin: 15px;
    }

    main {
        margin-top: 0px;
        margin-right: 2em;
    }

    .socialList li {
        background-color: transparent;
        margin-top: 2px;
    }

    .socials {
        position: fixed;
        bottom: 0;
        right: 0;
    }
  }